#components-layout-demo-responsive .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.input-title{
  float: right;
  margin-right: 10px;
  font-size: 13px;
  text-align: right;
}
.input-guide{
  font-size: 12px;
  margin-left: 5px;
  vertical-align: sub;
  font-weight: 500;
}
.ant-form-item {
  margin-bottom: 13px !important;
}

.ant-select-item {
  font-size: 13px !important;
}

.ant-form-item-has-error .ant-form-item-explain, .ant-form-item-has-error .ant-form-item-split {
   font-size: 12px;
 }
